<!DOCTYPE html>
{%load static%}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{%static '/assets/icons/buguinhi.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{%static '/style/style.css'%}">
    <title>The Burger Manager</title>
    <script src="{%static '/js/script.js'%}"></script>
</head>
<body>
    <Header>
        <nav class="Painel">
            <ul>
                <li>
                    <a href="#">
                        <img src="{%static 'assets/icons/buguinhi.png'%}" alt="Icone">
                    </a>
                </li>
            </ul>

            <ul>
                <li>
                    <a href="#">
                        Inicio
                    </a>
                </li>
            </ul>
        </nav>
    </Header>

    <section class="containerFormLogin">
        <section class="Image">
            <img src="{%static '/assets/BurgerLoginPage.jpg'%}" alt="">
        </section>

        <section class="Form">
            <form action="{% url  'Cadastro'%}" method="post">
                {%csrf_token%}
                <fieldset class="CampoLoginCliente">
                    <div class="Campo">
                        <h3>The Burger Manager</h3>
                        <input name="email" type="email" id="mail" class="mail" required="true" placeholder="Email">
                        <input name="senha" type="password" id="pass" class="pass" required="true" placeholder="Senha">
                        <button type="submit" class="buttonSubmitForm">Login</button>
                    </div>
                </fieldset>
            </form>
            
            <section class="rulesPass Campo">
                <ul>
                    <li>
                        <p>a senha deve ter mais de 8 catacteres e menos de 150</p>
                    </li>
                    <li>
                        <p>a senha deve ter uma letra maiuscula</p>
                    </li>
                    <li>
                        <p>a  senha deve ter uma letra minuscula</p>
                    </li>
                </ul>
            </section>

            <section class="LoginHelper Campo">
                <ul>
                    <li>
                        <a href="#">Esqueci a senha</a>
                    </li>
                    <li>
                        <a href="#">Cadastre-se</a>
                    </li>
                </ul>
            </section>

        </section>
    </section>

<footer>
    
</footer>
</body>
</html>